<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Retail</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
</head>
<body>
    <section>
        <h1>Paga con cualquier medio de pago</h1>
        <img src="{% static 'images/logo.webp' %}" alt="Logo de la aplicación" width="200">
    </section>

    <nav>
        <a href="/">Volver al menu principal</a>
    </nav>

</body>
</html>